.appHeader{
    display: flex;
    flex-direction: row;
    /* align-items: end; */
    justify-content: space-between;
    margin: 1rem;
    margin: 1rem;
    text-align: center;
    align-items: center;
}

.appHeaderButtons{
    display: flex;
    flex-direction: row;
}

.appHeaderButtons > a{
    border-radius: 0.5rem;
    height: 100%;
    width: 190%;
    background-color: orange;
    text-align: center;
    vertical-align: middle;
    margin: 0.5rem;
    padding: 0.5rem;
}